
<form>
    <div class="container">
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="nombreInput">Nombre</label>
      <input type="text" class="form-control" id="nombreInput" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="apellidoInput">Apellido</label>
      <input type="text" class="form-control" id="apellidoInput" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="fnacput">Fecha de Nacimiento</label>
      <input type="date" class="form-control" id="Input" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Tipo de Documento</label>
      <select class="form-control" id="exampleSelect1">
        <option>LC</option>
        <option>LE</option>
        <option>Pasaporte</option>
        <option>CI</option>
      </select>
    </div>
    <div class="form-group">
      <label for="docInput">Nuero de Documento</label>
      <input type="text" class="form-control" id="docInput">
    </div>
      <div class="form-check form-group">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          Cominidad UTN
        </label>
      </div>
    <div class="form-group">
        <label for="legajoInput">Nuero de Documento</label>
        <input type="text" class="form-control" id="legajoInput">
      </div>
    <div class="form-group">
      <label for="exampleSelect2">Cursos</label>
      <select multiple="" class="form-control" id="exampleSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    </fieldset>
  </div>
</form>
