<!--<app-curso *ngFor="let curso of cursoLista" [curso]="curso" >}</app-curso>
<div>aaaa</div>-->
<div class="container">
  <span>Filtrar por Curso:  </span>
  <span>
    <app-combobox [itemsLista]="filtroCursos" (cambioItemSeleccionado)="filtrarAlumnosPorCurso($event)"></app-combobox>
  </span>
    <div class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let alumno of alumnoLista">
      <app-alumno-list-item [alumno]="alumno"></app-alumno-list-item >
    </li>
  </div>
</div>