<!--<app-curso *ngFor="let curso of cursoLista" [curso]="curso" >}</app-curso>
<div>aaaa</div>-->
<div class="container">

    <div>Total de alumnos inscriptos: {{alumnosTotal}} </div>
    <div class="container>">
    <span>
      <span>Filtrar por Curso:</span>
      <app-combobox [itemsLista]="filtroCursos" (cambioItemSeleccionado)="filtrarAlumnosPorCurso($event)" ></app-combobox>
    </span>
    <div>
      <span>Filtrar en pantalla:</span>
      <app-filter-search (buscarEnLista)="filtrarAlumnosPorPantalla($event)">Filtrar en pantalla:</app-filter-search>
    </div>
    </div>

    <ul class="list-group" *ngFor="let alumno of alumnoLista">
        <app-alumno-list-item (borrarAlumno)="borrarAlumnoYActualizar($event)" [alumno]="alumno"></app-alumno-list-item >
    </ul>
</div>