<div>
    <div>Nombre: {{curso.nombre}}</div>
    <div>Duracion: {{curso.horas}} hs.</div>
    <div>Precio: {{curso.precio}}</div>
    <div>Inicio: {{curso.inicio}}</div>
    <div>Fin: {{curso.estado}}</div>
    <div>Estado: {{curso.estado}}</div>
    <div>Cambiar Estado:</div>
    <select>
        <option value="Pendiente">Pendiente</option>
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
      </select>
    <div>Docente
      <app-docente [docente]="curso.docente" ></app-docente>
    </div>
    
  </div>